<div id="<%= dom_id match %>">
  <p>
    <strong>Home team:</strong>
    <%= match.home_team_id %>
  </p>

  <p>
    <strong>Away team:</strong>
    <%= match.away_team_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= match.start_time %>
  </p>

  <p>
    <strong>League:</strong>
    <%= match.league_id %>
  </p>

</div>
