<%= form_with(model: @match, url: mens_singles_matches_path, method: :post) do |f| %>
  <!-- Other form fields here -->
  <div class="field">
    <%= f.label :mens_singles_set1_score %>
    <%= f.number_field :mens_singles_set1_score %>
  </div>
  <div class="field">
    <%= f.label :mens_singles_set2_score %>
    <%= f.number_field :mens_singles_set2_score %>
  </div>
  <div class="field">
    <%= f.label :mens_singles_set3_score %>
    <%= f.number_field :mens_singles_set3_score %>
  </div>
  <%= f.submit "Submit" %>
<% end %>
