<h3>Men's Doubles</h3>
<%= form_with(model: @match, url: mens_doubles_matches_path, method: :post) do |f| %>
  <%= hidden_field_tag :id, @match.id %>
  <table class="table">
     <thead>
      <tr>
        <th></th>
        <th>Player 1</th>
        <th>Player 2</th>
        <th scope="col">Set 1</th>
        <th scope="col">Set 2</th>
        <th scope="col">Set 3</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= @match.home_team.name %>
        </td>
        <td>
          <%= f.collection_select :home_player1_id, @match.home_team.players, :id, :name %>
        </td>
        <td>
          <%= f.collection_select :home_player2_id, @match.home_team.players, :id, :name %>
        </td>
        <td>
          <%= f.number_field :home_mens_doubles_set1_score %>
        </td>
        <td>
          <%= f.number_field :home_mens_doubles_set2_score %>
        </td>
        <td>
          <%= f.number_field :home_mens_doubles_set3_score %>
        </td>
      </tr>
      <tr>
        <td>
          <%= @match.away_team.name %>
        </td>
        <td>
          <%= f.collection_select :away_player1_id, @match.away_team.players, :id, :name %>
        </td>
        <td>
          <%= f.collection_select :away_player2_id, @match.away_team.players, :id, :name %>
        </td>
        <td>
          <%= f.number_field :away_mens_doubles_set1_score %>
        </td>
        <td>
          <%= f.number_field :away_mens_doubles_set2_score %>
        </td>
        <td>
          <%= f.number_field :away_mens_doubles_set3_score %>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="actions">
    <%= f.submit 'Submit Scores' %>
  </div>
<% end %>
